.wrapper {
  display: grid;
  grid-template-columns: 640px 1fr;
  gap: 32px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.imgWrapper {
  border-radius: 18px;
  overflow: hidden;
}

.formWrapper {
  border-radius: 10px;
  padding: 32px;
  background-color: var(--color-white);
}

.secondTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.formTitle {
  margin-bottom: 8px;
}

.formText {
  margin-bottom: 24px;
  font-weight: 500;
  color: var(--color-secondary-text);
}

.topInfoWrapper {
  margin-bottom: 68px;
}

.rightColumn {
  padding: 32px 24px;
  border-radius: 16px;
  background-color: var(--color-white);
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.details:not(:last-child):after {
  content: "";
  width: 480px;
  display: block;
  margin-top: 24px;
  border: 1px solid var(--color-border-light);
}

.titleWrapper {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.idText {
  font-weight: 500;
  color: var(--color-secondary-text);
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.infoTitle {
  margin-bottom: 20px;
}

.infoText {
  font-weight: 500;
}

.price {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--color-accent);
}

.description {
  font-weight: 500;
}

.infoListItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoListItem:not(:last-child) {
  margin-bottom: 16px;
}

.infoListIcon {
  fill: var(--color-primary-text);
}

.infoListText {
  font-weight: 500;
}
