.navList {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navListLink {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #101828;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navListLink:hover,
.navListLink:focus-visible {
  color: #0b44cd;
}

.navListLink:active {
  opacity: 0.5;
}

.active {
  color: #0b44cd;
}
