.navList {
  display: flex;
  align-items: center;

  gap: 32px;
}

.navListLink {
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--color-primary-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navListLink:hover,
.navListLink:focus-visible {
  color: var(--color-accent-hover);
}

.navListLink:active {
  opacity: 0.5;
}

.active {
  color: var(--color-accent-hover);
}
