.card {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}

.heartIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: #f2f4f7;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heartIcon:hover,
.heartIcon:focus-visible {
  fill: #3470ff;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.modelText {
  color: #3470ff;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 16px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.priceText {
  margin-right: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.contentList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.contentListItem {
  position: relative;
  padding-right: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}

.contentListFirst {
  margin-bottom: 4px;
  margin-top: auto;
}

.contentListFirst .contentListItem::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #dadde1;
}

.contentListItem:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #dadde1;
}

.contentListSecond {
  margin-bottom: 32px;
}

.button {
  width: 100%;
}
