.hero {
  max-width: 1440px;
  min-height: 700px;
  margin: 0 auto;
  background-color: #0b0b0b;
  background-image: url("/hero-background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url("/hero-background@2x.webp");
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
}

.title {
  margin-top: auto;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

.subtitle {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #fff;
}

.button {
  min-width: 276px;
}
