.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
}

.text {
  color: var(--color-secondary-text);
  font-size: 18px;
}

.button {
  min-width: 180px;
}
